.card{
    box-shadow:0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07)
}
@media only screen and (min-width: 1199px) and (max-width: 1920px){
.customeoff:not(.hide)  {
    width: 800px !important;
}
}
.customeoff{
    z-index: 1050 !important;
}
.offcanvas-backdrop.show {
    opacity: 0.5;
}
.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.capture-photo{
    font-size: 20px;
    position: relative;
    top:80%;
    left:80%;
}
.photo-div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: gray;
}
.fc-header-toolbar{
    overflow: auto;
}